<!doctype html>
<title>User Story Manager</title>
<div class="page">
  <h1>User story manager</h1>
</div>

{% block body %}
  <h2>User story manager - {% block submit %}add new story{% endblock %}</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{% block formAction %}{% endblock %}" method=post>
    <dl>
      <dt>Story title:</dt>
      <dd><input type=text name="title" value="{{ story.title }}">
      <dt>User story:</dt>
      <dd><input type=text style="height:100px;width:450px" name="user_story" value="{{ story.user_story }}">
      <dt>Acceptance criteria:</dt>
      <dd><input type=text style="height:100px;width:450px" name="acceptance_criteria" value="{{ story.acceptance_criteria }}">
      <dt>Business value</dt>
      <dd><input type=number min="100" max="1500" step="100" name="business_value" value="{{ story.business_value }}">
      <dt>Estimation(h)</dt>
      <dd><input type=number min="0.5" max="40" step="0.5" name="estimation" value="{{ story.estimation }}">
      <dt>Status</dt>
        <select name="status" value="{{ story.status }}">
            {% set options = ["Planning", "To do", "In progress", "Review", "Done"] %}
            {% for option in options %}
                <option value="{{ option }}"
                    {% if option==story.status %} selected="selected"{% endif %}
                    >{{ option }}</option>
            {% endfor %}
        </select>
      <dd><input type=submit value={% block submitValue %}{% endblock %}>



    </dl>
  </form>
{% endblock %}

